<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <% include ../static/partials/messages.ejs %>

    <h1>Edit Wiki</h1>

    <form action="/wikis/<%= wiki.id %>/update" method="POST">
      <div class="form-group">
        <label for="title">Wiki Title:</label>
        <input type="text" value="<%= wiki.title %>" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter New Title">
      </div>
      <div class="form-group">
        <label for="wikiBody">Wiki Information:</label>
        <textarea name="wikiBody" cols="30" rows="10" class="form-control" placeholder="Enter Wiki Information">
          <%= wiki.body %>
        </textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>