<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <% include ../static/partials/messages.ejs %>

    <h1>Edit Wiki</h1>
    
    <form action="/wikis/<%= wiki.id %>/update" method="POST">
      <div class="form-group">
        <label for="title">Wiki Title:</label>
        <input type="text" value="<%= wiki.title %>" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter New Title">
      </div>
      <div class="form-group">
        <label for="body">Wiki Information:</label>
        <textarea name="body" cols="30" rows="10" class="form-control" placeholder="Enter Wiki Information">
          <%= wiki.body %>
        </textarea>
      </div>
      <% if(currentUser.isPremium()) { %>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkPrivate" name="private">
            <label class="custom-control-label" for="checkPrivate">Click to make Wiki Private</label>
          </div>
        </div>
      <% } %>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
  <% include ../static/partials/markdown.ejs %>
</body>
</html>