<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <% include ../static/partials/messages.ejs %>
     <h1>Wiki-Matts</h1>

    <% if(currentUser) { %>
      <a href="/wikis/new" class="btn btn-success">New Wiki-Matt</a>
    <% } %>
    <ul class="list-group">
      <% wikis.forEach((wiki) => { %>
      <li class="list-group-item">
        <a href="/wikis/<%= wiki.id %>"><%= wiki.title %></a>
      </li>
      <% }); %>
    </ul>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>