<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../static/partials/head.ejs %>
</head>
<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">
    <%include ../static/partials/messages.ejs %>

    <h1>New Wiki</h1>

    <form action="/wikis/create" method="POST">
      <div class="form-group">
        <label for="title">Wiki Title:</label>
        <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        <small class="text-muted" id="titleHelp">Title must be 5 or more characters</small>
      </div>
      <div class="form-group">
        <label for="wikiBody">Wiki Information:</label>
        <textarea name="wikiBody" cols="30" rows="10" class="form-control" placeholder="Enter Wiki Information"></textarea>
        <small class="text-muted" id="wikiBodyHelp">Wiki Information must be more than 10 characters</small>
      </div>
      <% if(currentUser.isPremium()) { %>
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkPrivate" name="private">
            <label class="custom-control-label" for="customCheck1">Click to make Wiki Private</label>
          </div>
        </div>
      <% } %>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>
  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>